@import 'tailwindcss';

body{
    background: rgb(9, 11, 27);
    overflow-x: hidden;
   
    font-family:  'Poppins', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
.loader{
    background: radial-gradient(circle, rgb(2, 1, 8) 0%, rgb(6, 6, 19) 100%); 
}
.checkedroute{
  transition: all 0.3s ease-in-out;
  transform: translate(0%,-50%);
}
.introtext {
  color: transparent;
  font-size: 1.7rem;
  background: linear-gradient(90deg, #ff0080 0%, #7928ca 70%);
  -webkit-background-clip: text;
  background-clip: text;
  animation: text 4s steps(16) forwards ,blink 1s step-end infinite;
  display: inline-block;
  background-size: 200%;
  white-space: nowrap;
  border-right: 1px solid white;
  /* animation: blink 1s step-end infinite; */
}
@keyframes text {
  from {
   width: 0px;
  }
  to{
    width: 240px;
  }
 
 
}
@keyframes blink {
50%{
  border-color: transparent;
}

}
